{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="https://cdn.glitch.com/43378c12-d993-4763-8799-4e5a307842be%2Ffrida-photo.jpg?1552255817797">
    </div>
    <div class="content">
      <div class="header">Frida Kahlo</div>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        Famous Artist.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
      1980
      </span>
      <span>
        <i class="user icon"></i>
        follow
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://cdn.glitch.com/43378c12-d993-4763-8799-4e5a307842be%2Fmichelangelo.jpg?1552256815384">
    </div>
    <div class="content">
      <div class="header">Leonardo da Vinci</div>
      <div class="meta">
        <span class="date">Famous Artist</span>
      </div>
      <div class="description">
        Famous artist.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2011
      </span>
      <span>
        <i class="user icon"></i>
        35 Friends
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://cdn.glitch.com/43378c12-d993-4763-8799-4e5a307842be%2F220px-Pablo_picasso_1.jpg?1552256817950">
    </div>
    <div class="content">
      <div class="header">Pablo Picaso</div>
      <div class="meta">
        <a>Coworker</a>
      </div>
      <div class="description">
        Famous Artist.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        1950
      </span>
      <span>
        <i class="user icon"></i>
        follow
      </span>
    </div>
  </div>
</div>
</section>