{{> menu}}
<section class="ui center aligned middle aligned segment">
 <h1 class="ui header">
  Welcome to my Art Galore
</h1>
 <img src="https://cdn.glitch.com/43378c12-d993-4763-8799-4e5a307842be%2Fsdfffgff.jpeg?1552257355426"width="300">
<p>
  An app that shows a collection of artworks from famous artists.
</p>
  <p>
  More of an online extibition of different artworks from classical to modern times
</p>
</section>